@model BusBoard.Web.ViewModels.BusInfo
@{
  ViewBag.Title = "Bus Information";
}

<h2>BusInfo</h2>

<div class="row">
    <p> You entered postcode @Model.PostCode</p>
    @foreach (var stop in Model.Stops)
    {
        <h4>@stop.commonName</h4>
        <p>Distance from postcode : @stop.distance</p>
        foreach (var arrival in stop.Arrivals)
        {
            <p>@arrival.expectedArrival - Line @arrival.lineId to @arrival.destinationName</p>
        }
    }
</div>

